@import "partials/header";
@import "partials/hero";
@import "partials/prez";
@import "partials/quote";
@import "partials/footer";
@import "partials/share-follow";
@import "partials/news";

.violet { color: $frama; }
.orange { color: $soft; }

#fp-footer #f-footer {
  display: none !important;
}

/* Sections background */
#home #app {
  background: linear-gradient(to bottom,  #fff, $d1);
}

#app {
  background: $d1;
  color: $s5;
  fill: $s3;

  h1, h2, h3 {
    color: $s4;
  }

  h2 {
    background: $p2;
    padding: .5rem;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  main {
    .container {
      background: #fff;
      margin-bottom: 1.5rem;

      a:not(.btn) {
        color: $s5;
        background: linear-gradient(to top, $p4 2px, transparent 2px);

        &:hover,
        &:focus {
          color:  $s6;
          background: linear-gradient(to top, $p4 2px, $p1 2px);
          text-decoration: none;
        }
      }
    }

    ul:not(.list-inline) {
      list-style: url("../img/bullet-o.png");
      padding-left:20px;
    }
  }

  .svg-icon.si-camera.disc {
    background: $s3;
    fill: #fff;
    position: absolute;
    margin-top: .5rem;
    margin-left: -1rem;
  }

  .img-thumbnail {
    border:  .25rem solid $s3;
    padding: 0;
  }

  .quote {
    &, .container {
      background: $p2;
      color: $s5;
    }

    span.text-center {
      display: block;
    }
  }

  #what-is-mobilizon {
    background: $p1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .container {
      margin-bottom: 0;
    }
  }

  #mobilizon-design {
    background: $s2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .container {
      margin-bottom: 0;
    }
  }

  #who .container {
    margin-top: 1.5rem;
  }

  .contribute {
    .list-group-item {
      p {
        font-size: 0.9em;
      }
    }
  }

  .btn-primary {
    color: #212529;
    fill: #212529;
    background: $p2;
    border-color: $p2;

    &:hover,
    &:focus, &.focus {
      color: #212529;
      fill: #212529;
      background: darken($p2, 7.5%);
      border-color: darken($p2, 10%);
    }

    &:focus, &.focus{
      box-shadow: 0 0 0 0.2rem rgba(205, 134, 68, 0.5);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: #212529;
      fill: #212529;
      background: darken($p2, 10%);
      border-color: darken($p2, 12.5%);

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(205, 134, 68, 0.5);
      }
    }
  }
}

#faq {
  .h4 a {
    background: none !important;

    .svg-icon {
      visibility: hidden;
    }

    &:hover, &:focus {
      .svg-icon {
        visibility: visible;
      }
    }
  }

  .row:target  {
    background: $p1;
  }
}
