#header {
  background: $primary;
  border-bottom: 2px solid $d2;
  color: $s5;

  .container {
    background: transparent;
    margin-bottom: 0;

    a,
    div.btn-group button,
    a.dropdown-item a {
      color: $s5;
      text-decoration: none;
      border-radius: 0;

      &:hover {
        color: $s6;
      }
    }

    ul {
      justify-content: space-around;

      div.btn-group {
        flex: 1 1 auto;
        text-align: center;
      }

      .nav-item {
        & > a {
          &:after {
            display:block;
            content: '';
            border-bottom: 5px solid #fff;
            padding-bottom: 8px;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
          }
          &:hover:after, &:focus:after { transform: scaleX(1); }
        }
      }
      .navbar-text {
        padding: 0;
      }
    }

    & > div {
      align-items: center;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .btn {
    border: none;
    border-bottom: 5px solid transparent;
    color: $s5;
    fill: $s5;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover, &:focus {
      background: transparent;
      border-bottom: 5px solid #fff;
      color: $s6;
      fill: $s6;
    }
  }
  .show > .btn {
    background: transparent;
    border-bottom: 5px solid #fff;
    color: $s6;
    fill: $s6;
  }
}
