/* Quote */
.quote {
  p {
    padding-top: 10px;
    text-align: left;
  }

  a {
    color: $s5;
    text-decoration: underline;
    background: none !important;

    &:hover, &:focus {
      color: $s6;
      text-decoration: underline;
    }
  }

  text-align: center;

  button.btn {
    font-size: 1.3em;
    width: 14em;
    word-break: break-word;
    white-space: normal;

    &::first-line {
      font-size: 1.5em;
    }
  }

  blockquote {
    padding: 0px 15px;

    span {
      border-right: 0.2em solid $s6;
      position: relative;
      display: block;
      padding-right: 1em;

      &:before, &:after {
        content: '« ';
        font-family: 'Sanchez';
        color: $s6;
      }

      &:after {
        content: ' »';
      }
    }
  }
}
