<template>
  <main>
    <section>
      <b-container class="p-4 mt-sm-4">
        <h1
          class="py-4 text-center"
          v-html="$t('faq.title')"
        ></h1>
        <div
          v-for="key in Object.keys($t(`faq`))
            .filter(i => !['title', 'clic', 'crowdfunding'].includes(i))"
          :id="key"
          :key="key"
        >
          <h2
            class="col-lg-8 text-center mx-auto mt-4 mb-2"
            v-html="$t(`faq.${key}.title`)"
          ></h2>
          <b-row
            v-for="id in Object.keys($t(`faq.${key}`)).filter(i => !['title'].includes(i))"
            :id="id"
            :key="id"
            class="pt-4 pb-3 mb-4 mx-0"
          >
            <b-col
              tag="h3"
              lg="5"
              xl="4"
              class="h4 text-lg-right"
            >
              <a :href="`#${id}`">
                <svg-icon
                  :label="$t(`faq.${key}['${id}'].q`)"
                  name="link"
                />
              </a>
            </b-col>
            <b-col
              lg="7"
              xl="8"
              v-html="$t(`faq.${key}['${id}'].a`)"
            />
          </b-row>
        </div>
      </b-container>
    </section>
  </main>
</template>
