<template>
  <footer id="footer">
    <section>
      <b-container>
        <b-row>
          <b-col lg="7">
            <h1
              class="mt-4 mb-3"
              v-html="$t('contact.title')"
            ></h1>
            <b-row>
              <b-col
                md="4"
                cols="6"
              >
                <a
                  href="https://twitter.com/@joinmobilizon"
                  rel="me"
                >
                  <svg-icon
                    label="JoinMobilizon"
                    name="b-twitter"
                  />
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a
                  rel="me"
                  href="https://framapiaf.org/@mobilizon"
                >
                  <svg-icon
                    label="Mobilizon"
                    name="b-mastodon"
                  />
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a :href="$t('git.mobilizon')">
                  <svg-icon
                    :label="$t('contact.source')"
                    name="b-gitlab"
                  />
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a :href="$t(`link.${$t('lang').replace(!/^fr$/, 'en')}.forum`)">
                  <svg-icon
                    label="Forum"
                    name="comments"
                  />
                </a>
              </b-col>
              <b-col
                md="4"
                cols="6"
              >
                <a href="https://matrix.to/#/#Mobilizon:matrix.org">
                  <svg-icon
                    label="Chat"
                    name="b-matrix-org"
                  />
                </a>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                class="my-3"
                md="8"
              >
                <p
                  class="small"
                  v-html="$t('footer.credits')"
                ></p>
              </b-col>
            </b-row>
          </b-col>
          <b-col lg="5">
            <b-img
              alt=""
              class="d-block mt-4 mx-auto"
              height="45"
              :src="`${$t('baseurl')}img/logo-mbz-yellow.svg`"
            />
            <b-img
              alt=""
              fluid
              :src="`${$t('baseurl')}img/footer/${
                ['a', 'b', 'c', 'd', 'e'][Math.random() * 5 | 0]
              }.jpg`"
            />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </footer>
</template>
