<template>
  <ul class="list-inline share-follow">
    <li class="newsletter">
      <a
        class="btn"
        href="https://framalistes.org/sympa/info/mobilizon-newsletter"
        rel="nofollow"
        :title="$t('home.funding.news')"
      >
        <svg-icon
          :label="$t('home.funding.news-alt')"
          name="envelope"
          size="lg fw"
          sr-only
          variant="square"
        />
      </a>
    </li>
    <li
      v-if="mastodon !== ''"
      class="mastodon"
    >
      <a
        class="btn"
        :href="mastodon"
        rel="noopener noreferrer nofollow"
        target="_blank"
        :title="`${$t('merci.shareOn')} Mastodon`"
      >
        <svg-icon
          label="Mastodon"
          name="b-mastodon"
          size="lg fw"
          sr-only
          variant="square"
        />
      </a>
    </li>
    <li class="diaspora">
      <a
        class="btn"
        :href="diaspora.join('')"
        rel="noopener noreferrer nofollow"
        target="_blank"
        :title="`${$t('merci.shareOn')} Diaspora`"
      >
        <svg-icon
          label="Diaspora"
          name="b-diaspora"
          size="lg fw"
          sr-only
          variant="square"
        />
      </a>
    </li>
    <li class="twitter">
      <a
        class="btn"
        :href="twitter.join('')"
        rel="noopener noreferrer nofollow"
        target="_blank"
        :title="`${$t('merci.shareOn')} Twitter`"
      >
        <svg-icon
          label="Twitter"
          name="b-twitter"
          size="lg fw"
          sr-only
          variant="square"
        />
      </a>
    </li>
    <li class="facebook">
      <a
        class="btn"
        :href="facebook.join('')"
        rel="noopener noreferrer nofollow"
        target="_blank"
        :title="`${$t('merci.shareOn')} Facebook`"
      >
        <svg-icon
          label="Facebook"
          name="b-facebook-f"
          size="lg fw"
          sr-only
          variant="square"
        />
      </a>
    </li>
    <li class="reddit">
      <a
        class="btn"
        :href="reddit"
        rel="noopener noreferrer nofollow"
        target="_blank"
        :title="`${$t('merci.followOn')} Reddit`"
      >
        <svg-icon
          label="Reddit"
          name="b-reddit"
          size="lg fw"
          sr-only
          variant="square"
        />
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    const picture = `${this.$t('baseurl')}/img/${this.$route.meta.lang}/support-mobilizon.png`;
    const link = `${this.$t('baseurl')}/${this.$route.meta.lang}`;
    const text = this.$t('merci.share');
    const title = this.$t('merci.shareTitle');

    return {
      mastodon: '', // Todo add pouet link
      diaspora: [
        'https://share.diasporafoundation.org/',
        `?title=${encodeURIComponent(text)}`,
        `&amp;url=${link}`,
      ],
      twitter: [
        'https://twitter.com/intent/tweet',
        `?text=${encodeURIComponent(text)} ${link}`,
      ],
      facebook: [
        'https://www.facebook.com/sharer/sharer.php',
        `?u=${encodeURIComponent(link)}`,
        `&amp;picture=${encodeURIComponent(picture)}`,
        `&amp;title=${encodeURIComponent(title)}`,
        `&amp;description=${encodeURIComponent(text)}`,
      ],
      reddit: this.$t('link.reddit'),
    };
  },
};
</script>
